[submodule "solodit_content"]
	path = solodit
	url = https://github.com/solodit/solodit_content
[submodule "cyfrin-audit-reports"]
	path = cyfrin
	url = https://github.com/Cyfrin/cyfrin-audit-reports
[submodule "SecurityReports"]
	path = certora
	url = https://github.com/Certora/SecurityReports
[submodule "audits"]
	path = pashov
	url = https://github.com/pashov/audits
[submodule "trailofbits"]
	path = trailofbits
	url = https://github.com/trailofbits/publications
[submodule "spearbit"]
	path = spearbit
	url = https://github.com/spearbit/portfolio
[submodule "zellic"]
	path = zellic
	url = https://github.com/Zellic/publications
[submodule "sigp"]
	path = sigp
	url = https://github.com/sigp/public-audits
[submodule "hexens"]
	path = hexens
	url = https://github.com/Hexens/Smart-Contract-Review-Public-Reports
[submodule "shieldify"]
	path = shieldify
	url = https://github.com/shieldify-security/audits-portfolio
[submodule "egis"]
	path = egis
	url = https://github.com/Egis-Security/audits
[submodule "abdk"]
	path = abdk
	url = https://github.com/abdk-consulting/audits
[submodule "arbitraryexecution"]
	path = arbitraryexecution
	url = https://github.com/arbitraryexecution/publications
[submodule "bailsec"]
	path = bailsec
	url = https://github.com/bailsec/BailSec
[submodule "blocksec"]
	path = blocksec
	url = https://github.com/blocksecteam/audit-reports
[submodule "cdsecurity"]
	path = cdsecurity
	url = https://github.com/CDSecurity/audits
[submodule "chainsafe"]
	path = chainsafe
	url = https://github.com/ChainSafe/audits
[submodule "clarity"]
	path = clarity
	url = https://github.com/Clarity-Alliance/audits
[submodule "coinspect"]
	path = coinspect
	url = https://github.com/coinspect/publications
[submodule "credshields"]
	path = credshields
	url = https://github.com/Credshields/audit-reports
[submodule "cystack"]
	path = cystack
	url = https://github.com/cystack/security-audit-reports
[submodule "decurity"]
	path = decurity
	url = https://github.com/Decurity/audits
[submodule "dedaub"]
	path = dedaub
	url = https://github.com/Dedaub/audits
[submodule "exvul"]
	path = exvul
	url = https://github.com/ExVul-Sec/AuditReport
[submodule "g0group"]
	path = g0group
	url = https://github.com/g0-group/Audits
[submodule "guardian"]
	path = guardian
	url = https://github.com/GuardianAudits/Audits
[submodule "guardianlab"]
	path = guardianlab
	url = https://github.com/GuardianAudits/DefenderAudits
[submodule "halborn"]
	path = halborn
	url = https://github.com/HalbornSecurity/PublicReports
[submodule "inference"]
	path = inference
	url = https://github.com/InferenceAG/ReportPublications
[submodule "informal"]
	path = informal
	url = https://github.com/informalsystems/audits
[submodule "kalos"]
	path = kalos
	url = https://github.com/kalos-xyz/Publications
[submodule "matterlabs"]
	path = matterlabs
	url = https://github.com/matter-labs-audits/reports
[submodule "mixbytes"]
	path = mixbytes
	url = https://github.com/mixbytes/audits_public
[submodule "nethermind"]
	path = nethermind
	url = https://github.com/NethermindEth/PublicAuditReports
[submodule "oaksecurity"]
	path = oaksecurity
	url = https://github.com/oak-security/audit-reports
[submodule "oxorio"]
	path = oxorio
	url = https://github.com/oxor-io/public_audits
[submodule "peckshield"]
	path = peckshield
	url = https://github.com/peckshield/publications
[submodule "pessimistic"]
	path = pessimistic
	url = https://github.com/pessimistic-io/audits
	ignore = dirty
[submodule "rezolv"]
	path = rezolv
	url = https://github.com/RezolvSolutions/Audits
[submodule "rugdog"]
	path = rugdog
	url = https://github.com/rugdognet/reports
[submodule "runtimeverification"]
	path = runtimeverification
	url = https://github.com/runtimeverification/publications
[submodule "sbsecurity"]
	path = sbsecurity
	url = https://github.com/SB-Security/audits
[submodule "sec3"]
	path = sec3
	url = https://github.com/sec3-service/reports
[submodule "shellboxes"]
	path = shellboxes
	url = https://github.com/shellboxes/public-audit-reports
[submodule "sherlock"]
	path = sherlock
	url = https://github.com/sherlock-protocol/sherlock-reports
[submodule "slowmist"]
	path = slowmist
	url = https://github.com/slowmist/Knowledge-Base
[submodule "solidified"]
	path = solidified
	url = https://github.com/solidified-platform/audits
[submodule "solidproof"]
	path = solidproof
	url = https://github.com/solidproof/Projects
[submodule "statemind"]
	path = statemind
	url = https://github.com/statemindio/public-audits
[submodule "techaudit"]
	path = techaudit
	url = https://github.com/Tech-Audit/Smart-Contract-Audits
[submodule "truscova"]
	path = truscova
	url = https://github.com/Truscova/Reports
[submodule "verichains"]
	path = verichains
	url = https://github.com/verichains/public-audit-reports
[submodule "yacademy"]
	path = yacademy
	url = https://github.com/yAudit/fellowship-audits
[submodule "yaudit"]
	path = yaudit
	url = https://github.com/yAudit/reports
[submodule "zealynx"]
	path = zealynx
	url = https://github.com/ZealynxSecurity/Zealynx
[submodule "zokyo"]
	path = zokyo
	url = https://github.com/zokyo-sec/audit-reports
[submodule "0xguard"]
	path = 0xguard
	url = https://github.com/0xGuard-com/audit-reports
[submodule "midgar"]
	path = midgar
	url = https://github.com/midgar-audits/public-audits
[submodule "rapidlabs"]
	path = rapidlabs
	url = https://github.com/rapidlabsfinance/reports
[submodule "abarbatei"]
	path = abarbatei
	url = https://github.com/abarbatei/audits
[submodule "romeroadrian"]
	path = romeroadrian
	url = https://github.com/romeroadrian/audits
[submodule "akshaysrivastav"]
	path = akshaysrivastav
	url = https://github.com/akshaysrivastav/audits
[submodule "frankcastle"]
	path = frankcastle
	url = https://github.com/Frankcastleauditor/public-audits
[submodule "windhustler"]
	path = windhustler
	url = https://github.com/windhustler/audits
[submodule "jakubheba"]
	path = jakubheba
	url = https://github.com/jakub-heba/portfolio
[submodule "marchev"]
	path = marchev
	url = https://github.com/marchev/security-reviews
[submodule "milotruck"]
	path = milotruck
	url = https://github.com/MiloTruck/audits
[submodule "sparkware"]
	path = sparkware
	url = https://github.com/JeffCX/Sparkware-audit-portfolio
[submodule "zobront"]
	path = zobront
	url = https://github.com/zobront/audits
[submodule "defihacklabs"]
	path = defihacklabs
	url = https://github.com/SunWeb3Sec/DeFiHackLabs
[submodule "evmattacks"]
	path = evmattacks
	url = https://github.com/coinspect/learn-evm-attacks
[submodule "alexzoid"]
	path = alexzoid
	url = https://github.com/alexzoid-eth/fv-track-record
[submodule "kristiyanmaslarov"]
	path = kristiyanmaslarov
	url = https://github.com/kristiyanmaslarov/Audits
[submodule "zigtur"]
	path = zigtur
	url = https://github.com/zigtur/audits
[submodule "jacobolansac"]
	path = jacobolansac
	url = https://github.com/JacoboLansac/audits
[submodule "gkrastenov"]
	path = gkrastenov
	url = https://github.com/gkrastenov/audits
[submodule "bogocvetkov"]
	path = bogocvetkov
	url = https://github.com/BogoCvetkov/portfolio
[submodule "dadekuma"]
	path = dadekuma
	url = https://github.com/DadeKuma/audits
[submodule "leeftk"]
	path = leeftk
	url = https://github.com/leeftk/audit-reports
[submodule "0xnirlin"]
	path = 0xnirlin
	url = https://github.com/0xnirlin/Audit-Reports-
[submodule "alqaqa"]
	path = alqaqa
	url = https://github.com/Al-Qa-qa/audits
[submodule "xmxanuel"]
	path = xmxanuel
	url = https://github.com/xmxanuel/security-reviews
[submodule "0x52"]
	path = 0x52
	url = https://github.com/IAm0x52/audit-portfolio
[submodule "radeveth"]
	path = radeveth
	url = https://github.com/radeveth/web3-security-portfolio
[submodule "xuwinnie"]
	path = xuwinnie
	url = https://github.com/xuwinnie/reports
[submodule "zzzuhaibmohd"]
	path = zzzuhaibmohd
	url = https://github.com/zzzuhaibmohd/portfolio
[submodule "maarcweiss"]
	path = maarcweiss
	url = https://github.com/maarcweiss/audits
[submodule "t1moh"]
	path = t1moh
	url = https://github.com/T1MOH593/audits
[submodule "kiki"]
	path = kiki
	url = https://github.com/devNamedKiki/Audits
[submodule "mahdirostami"]
	path = mahdirostami
	url = https://github.com/0xmahdirostami/audits
[submodule "0xsimao"]
	path = 0xsimao
	url = https://github.com/0xsimao/audits
[submodule "tradmod"]
	path = tradmod
	url = https://github.com/TradMod/Security-Audits
[submodule "kadenzipfel"]
	path = kadenzipfel
	url = https://github.com/kadenzipfel/audit-portfolio
[submodule "mrpotatomagic"]
	path = mrpotatomagic
	url = https://github.com/MrPotatoMagic/audit-portfolio
[submodule "okiki"]
	path = okiki
	url = https://github.com/Okiki-omisande/Past-Audit-Findings
[submodule "ihtisham"]
	path = ihtisham
	url = https://github.com/ihtisham-sudo/private-audit-reports
