[submodule "solodit_content"]
	path = solodit
	url = https://github.com/solodit/solodit_content
[submodule "cyfrin-audit-reports"]
	path = cyfrin
	url = https://github.com/Cyfrin/cyfrin-audit-reports
[submodule "SecurityReports"]
	path = certora
	url = https://github.com/Certora/SecurityReports
[submodule "audits"]
	path = pashov
	url = https://github.com/pashov/audits
[submodule "trailofbits"]
	path = trailofbits
	url = https://github.com/trailofbits/publications
[submodule "spearbit"]
	path = spearbit
	url = https://github.com/spearbit/portfolio
[submodule "zellic"]
	path = zellic
	url = https://github.com/Zellic/publications
[submodule "sigp"]
	path = sigp
	url = https://github.com/sigp/public-audits
[submodule "hexens"]
	path = hexens
	url = https://github.com/Hexens/Smart-Contract-Review-Public-Reports
